
*{
    margin:0;
    font-family: 'Gilroy-Regular', sans-serif;
    
}

/*navigation styling*/
.hero{
    height: 5%;
    width: 100%;
    background-color: #fdfdfd;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
}
.logo{
    color:rgb(85, 85, 214);
    font-size: 40px;
    display: flex;

}
.head_logo{
    display:inline-block
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Gilroy-Regular', sans-serif;
}
nav ul li a{
    color:rgb(15, 15, 15);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Gilroy-Regular', sans-serif;
}
.nav_login{
    display:flex;
    align-items: center;
}
.nav_button{
    display:inline-block;
    padding-left: 10px;
    margin-left: 10px;
    
}
.login, button{
    border:none;
    background:#5060eb;
    border-radius: 30px;
    padding:12px 30px;
    color:white;
    font-weight: bold;
    font-size: 15px;
    transition:0.4s;
    font-family: 'Gilroy-Regular', sans-serif;
}
button:hover{
    transform: scale(1.4s);
    cursor: pointer;
}
/*Header Styling*/
#intro{
    background-image: url(vector.png);
    align-items: center;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.about_head{
    margin: 10px;
    font-family: 'Gilroy-Medium', sans-serif;

}
span{
    color:blue
}
.intro-paragraph{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    font-family: 'Gilroy-Light', sans-serif;
}
.signup{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
}
.about_button{
    display:inline-block
}
    
/*achivement styling*/
#achievement{
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px;
}
.achievement_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.achieve{
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    align-content: center;
    align-items: center;

}
.one_stop{
    flex-grow: 1;
    font-family: 'Gilroy-Bold', sans-serif;
}
.list{
    display:flex;
    justify-content: space-around;
}
/* section 3 stylying*/
#selectors{
    display: inline-flex;
}
.selector1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-right: 40px;
}
.selector1_paragraph{
    display: flex;
    align-items:center;
    gap: 1rem;
    align-content:last baseline;
}
.selector1_img{
    width: 0.00625rem;
    height: 3rem;
}
.choose{
    color: #141414;
    font-size: 2.5rem;
    line-height: 2rem;
}
.sel1_paragraph{
    display: flex;
width: 23.125rem;
height: 12rem;
flex-direction: column;
}
.selector2{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4rem;
padding-left: 40px;
}
.selector2_sub{
    display: flex;
align-items: flex-start;
gap: 1.75rem;
}
#pricing{
    font-family: 'Gilroy-Medium', sans-serif;
    padding-top: 30px;
}
.price_intro{
    align-items: center;
    text-align: center;
    gap: 1.3rem;
}
.price_head{
    align-content: center;
    padding-bottom: 20px;
    font-size: 35px;
}
.price-p{
    font-size: 20px;
}
.price-container{
    display:inline-flex;
    padding-top: 20px;
    padding-bottom: 20px;
    height:450px;
    width: 1200px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 100px;
    padding-right: 100px;
    border-inline-end-width: 3px;
    border-color: blue;
}
.basic-price{
    width: 450px;
    height:400px;
    background-color:white;
    border-radius: 20px;
    border-color: blue;
}
.basicparagraph{
    font-size: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
.basicparagraph2{
    font-size: medium;
    padding-left: 20px;
    padding-bottom: 20px;
}
.pricelist{
    font-size: 1em;
    justify-content: space-between;
    text-decoration: none;
    text-transform: capitalize;
}
.pricelist ul{
    list-style-image: url(./Materials/Image/check-circle.png);
}
.pricelist ul li{
    margin: 20px;
}
.professional-price{
    width: 450px;
    height:450px;
    background-color: rgb(5, 5, 65);
    border-radius: 20px;
    color: white;
}
.pricelist ul{
    list-style-type: none;
    gap: 20px;
}
.price-button{
    align-self: center;
    display:flex;
    justify-content: center;
}
.pricebutton1{
    background-color: white;
    color:blue;
    border-width: 2px;
    border-color: #5060eb;
}
.faqhead{
    text-align: center;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.faqlist{
    max-width: 800px;
    padding-top: 20px;
}
.faqlist .faque{
    position: relative;
    margin: 10px 20px;
}
.faqlist .faque .faqlabel{
    position: relative;
    padding: 10px;
    background: #dee4e4;
    cursor: pointer;
}
.faqlist .faque .faqlabel::before{
    content: "+";
    position: absolute;
    top: 50%;
    right: 2%;
    transform:translateY(-50%);
    font-size: 1.5em;
}
.faqlist .faque.active .faqlabel::before{
    content: "-";
}
.faqlist .faque .faqanswer{
    position: relative;
    background: #fdfdfd;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;

}
.faqlist .faque.active .faqanswer{
    height:150px;
    padding: 10px;
}




/*Section4 pricing styling
.price_headp{
    display: flex;
width: 34.75rem;
height: 3.25rem;
flex-direction: column;
color: var(--text-color-main-text, #141414);
text-align: center;
font-size: 1rem;
font-family: Gilroy-Medium;
line-height: 1.5rem;
}*/


.form-container{
    width: 90rem;
    height: 20.6875rem;
}
.form-box{
    display: inline-flex;
    padding: 2.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    position: inherit;
}
.form-box form{display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem; 
}
.footer{
    background-color: #dee4e4;
    padding: 70px ;
}
.footer-container{
    margin: auto;
}
ul{
    list-style: none;
}
.footer-row{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    align-content: flex-start;
}
.why_scissor{
    width:25%;
    padding: 0 15px;
    
}
.why_scissor h4{
    font-size: 18px;
    color:#141414;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    align-self: center;
    align-items: center;
}
.why_scissor h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.why_scissor ul li:not(:last-child) {
    margin-bottom: 10px;

}
.why_scissor ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#141414;
    text-decoration: none;
    font-weight: 300;
    color:#4983f0
}
.why_scissor ul li a:hover{
    color:#fdfdfd;
    padding-left: 8px;

}
@media screen and (max-width: 609px) and (min-width:400px){
   .nav{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(71, 71, 243);
   } 
   nav ul li{
    display:block;
    padding:30px;
   }
   #intro{
   background-image: url(vector.png);
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.about_head{
    margin: 7px;
}
span{
    color:blue
}
.intro-paragraph{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.signup{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
}
.about_button{
    display:inline-block
}
    
}